/* VARIABLES */
:root{
  --negro: #011402;
  --blanco: #f0fff0;
  --primario: #59745b ;
  --secundario: #3a4f3b;
  --acento: #38b802;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



html,body{
  background-color: var(--blanco);
  color: var(--negro);
  overflow-x: hidden;
}

p{
  text-transform:  uppercase;
  font-family: "Tomorrow", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antiliased;
}

img{
  width: 18px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

nav, footer{
  position: fixed;
  width: 100%;
  padding: 2em ;
  z-index: 5;
}

nav{
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primario) ;
  color: var(--secundario);
  height: 10vh;
}

#flecha {
  position: fixed;
  bottom: 2rem;    
  left: 50%;        
  transform: translateX(-50%);
  z-index: 10;      
  font-size: 1rem;
  color: var(--blanco); 
  cursor: pointer;
}

footer{
  display: flex;
  bottom: 0;
  left: 0;
  color: var(--secundario);
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

footer a{
  color: var(--secundario);
  font-size: 9px;
  letter-spacing: 1.8px;
}

footer p{
  color: var(--secundario);
  font-size: 8px;
  letter-spacing: 2px;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  pointer-events: none;
  opacity: 1;
}

.overlay__path{
  fill: var(--blanco);
}

.logo-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 10001;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__path {
    fill: none;
    stroke: var(--negro);
    stroke-width: 5px; 
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0; 
}