*,{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background-color: #f0fff0;
  transition: background-color 0.5s ease;
  color: #011402;
  overflow-x: hidden;
  overflow-x: hidden;
}

p{
  text-transform:  uppercase;
  font-family: "Tomorrow", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antiliased;
}
p img{
  width: 50px;
}
p i, a{
  color: #f0fff0;
}


nav, footer{
  position: fixed;
  width: 100vw;
  padding: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

nav{
  top: 0;
}
#flecha {
  position: fixed;
  bottom: 2rem;    
  left: 50%;        
  transform: translateX(-50%);
  z-index: 10;      
  font-size: 1rem;
  color: #f0fff0; 
  cursor: pointer;
}

footer{
  bottom: 0;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  pointer-events: none;
  opacity: 1;
}

.overlay__path{
  fill: #f0fff0;
}

.logo-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 10001;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__path {
    fill: none;
    stroke: #011402;
    stroke-width: 5px; 
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0; 
}