*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-weight: 700;
  background-color: #f0fff0;
  color: #f0fff0;
  overflow-x: hidden;
  overflow-x: hidden;
}

p{
  text-transform:  uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antiliased;
}

p img{
  width: 50px;
}

p i, a{
  color: #f0fff0;
}


nav, footer{
  position: fixed;
  width: 100vw;
  padding: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

nav{
  top: 0;
}
#flecha {
  position: fixed;
  bottom: 2rem;    
  left: 50%;        
  transform: translateX(-50%); /* Centrado matemático exacto */
  z-index: 10;        
  
  /* Estética */
  font-size: 1rem;
  color: #f0fff0; 
  cursor: pointer;
}

footer{
  bottom: 0;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000; /* Muy alto para tapar el canvas */
  pointer-events: none;
  opacity: 1;
}

.overlay__path{
  fill: #f0fff0;
}

/* Contenedor del logo: Centrado y POR ENCIMA del líquido */
.logo-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* Un poco más grande para que se vea bien */
    height: 200px;
    z-index: 10001; /* IMPORTANTE: Mayor que 10000 (el overlay) */
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* La línea del logo */
.logo__path {
    fill: none; /* IMPORTANTE: Sin relleno para que parezca una línea */
    stroke: #011402; /* Color de la línea (Oscuro) */
    stroke-width: 1.5px; /* Grosor de la línea */
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0; /* Empieza invisible */
}