/* VARIABLES */
:root{
  --negro: #011402;
  --blanco: #f0fff0;
  --primario: #59745b ;
  --secundario: #3a4f3b;
  --acento: #7aec4a;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body{
  background-color: var(--blanco);
  color: var(--blanco);
  overflow-x: hidden;
  overflow-x: hidden;
}

p{
  text-transform:  uppercase;
  font-family: "Tomorrow", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antiliased;
}

p img{
  height: 26px;
}

p i, a{
  color: var(--blanco);
}

nav, footer{
  position: fixed;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

nav{
  top: 0;
}
#flecha {
  position: fixed;
  bottom: 2rem;    
  left: 50%;        
  transform: translateX(-50%);
  z-index: 10;    
  font-size: 1rem;
  color: var(--blanco); 
  cursor: pointer;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 5px);
  }
}

footer{
  bottom: 0;
  flex-direction: row-reverse;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000; /* Muy alto para tapar el canvas */
  pointer-events: none;
  opacity: 1;
}

.overlay__path{
  fill: var(--blanco);
}

.overlay__path1{
  fill: var(--primario);
}

/* Contenedor del logo: Centrado y POR ENCIMA del líquido */
.logo-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 10001;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* La línea del logo */
.logo__path {
    fill: none;
    stroke: var(--negro);
    stroke-width: 5px; /* Grosor de la línea */
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0;
}