*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Space Grotesk", sans-serif;
  font-weight: 700;
  background-color: #e3e3db;
  transition: background-color 0.5s ease;
  color: #e3e3db;
  overflow-x: hidden;
  overflow-x: hidden;
}

p{
  text-transform:  uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antiliased;
}
p img{
  width: 50px;
}
p i, a{
  color: #e3e3db;
}


nav, footer{
  position: fixed;
  width: 100vw;
  padding: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

nav{
  top: 0;
}
#flecha {
  position: fixed;
  bottom: 2rem;    
  left: 50%;        
  transform: translateX(-50%); /* Centrado matemático exacto */
  z-index: 10;        
  
  /* Estética */
  font-size: 1rem;
  color: #e3e3db; 
  cursor: pointer;
}

footer{
  bottom: 0;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #010101;
  z-index: 9999;

  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
}

.page-transition.hidden{
  opacity: 0;
}