html {
	background-image: url("tartan.jpg");
	background-size: auto;
	font-family: monospace;
}

.box {
	display: grid;
	width: 60%;
	height: 500px;
	grid-template-areas:
		"logos hora egg"
		"main main nav"
		"main main nav";
	grid-template-rows: 50px 1fr;
	grid-template-columns: 150px 1fr 150px;
	margin: 100px auto;
	row-gap: 50px;
	column-gap: 30px;
}

.header {
	grid-area: logos;
	background-color: rgb(228, 129, 7);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.horas {
    grid-area: hora;
	background-color: rgb(231, 220, 207);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.horas span {
	font-size: auto;
	font-family:  "Cherry Bomb One", serif;
	width: 20px;
	display: inline-block;
	text-align: center;
	position: relative;
}

.easteregg {
    grid-area: egg;
	background-color: rgb(163, 176, 204);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.info {
    grid-area: main;
	background-image:url(ayayay.jpg);
	background-size: auto;
	background-repeat:no-repeat;
	border-radius: 10px;
	padding: 20px;
	text-overflow:clip;
}

.addons {
    grid-area: nav;
	background-color: rgb(244, 255, 89);
	padding: 20px;
	border-radius: 10px;
}